html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #0f172a;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  padding: 30px;
  background-color: #13141f;
  font-family: Poppins, sans-serif;
  position: relative; /* Garantir que o pre tenha posição relativa */
  padding-bottom: 50px; /* Adicionar espaço para o botão na parte inferior */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 15px;
}

/* Estilo para texto selecionado */
::selection {
  background-color: rgba(
    85,
    209,
    192,
    0.3
  ); /* Cor de fundo da seleção (versão semi-transparente do #55d1c0) */
  color: #ffffff; /* Cor do texto selecionado */
}

/* Para navegadores Mozilla Firefox */
::-moz-selection {
  background-color: rgba(85, 209, 192, 0.3);
  color: #ffffff;
}

.circular-image {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: inline-block !important;
}

.btn {
  min-width: 150px !important;
}

.btn-tag {
  background-color: #122b39;
  color: #55d1c0;
}

.btn-tag:hover {
  background-color: #55d1c0;
  color: #ffff;
}

.card {
  min-height: 600px !important;
}

.blog-card {
  min-height: 400px !important;
  padding: 30px;
  border-radius: 10px;
}

.card,
.blog-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: rgb(242, 253, 252);
  background-color: rgba(85, 209, 192, 0.1);
}

.card-body,
.blog-card-body {
  flex-grow: 1.3;
  display: flex;
  flex-direction: column;
}

.card-body ol,
.blog-card-body ol {
  flex-grow: 1;
}

.card-button,
.blog-card-button {
  /* position: absolute; */
  /* bottom: 10px; */
  /* left: 10px; */
  margin-top: auto;
}

.card-title,
.blog-card-title {
  color: rgb(85, 209, 192);
}

.code-container {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.copy-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.copy-btn:hover {
  opacity: 1;
  background-color: #3aa697;
}

.content {
  flex: 1 !important;
  z-index: 1 !important;
}

/* Classe para caracteres individuais que receberão o efeito */
.glow-char {
  display: inline-block;
  transition: color 0.2s ease;
}

/* Cores para o efeito de iluminação */
.glow-active {
  color: #55d1c0;
  text-shadow: 0 0 8px rgba(85, 209, 192, 0.6);
}

.icons {
  width: 60px;
  height: 60px;
  color: white !important;
  transition: width 0.2s ease, height 0.2s ease, color 0.2s ease;
}

.icons:hover {
  width: 65px;
  height: 65px;
  color: #55d1c0 !important;
}

.main {
  padding-top: 100px;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent !important;
  /* padding-left: 100px;
  padding-right: 100px; */
}
.navbar,
.navbar a,
.nav-link {
  color: #55d1c0 !important;
}

.navbar-brand {
  font-weight: 700;
  font-size: 46px;
}

/* Para links com hover na navbar */
.navbar a:hover,
.nav-link:hover {
  color: #3aa697 !important; /* Uma versão mais escura da cor original */
}

/* Adicione isto ao seu arquivo CSS existente */
.navbar-toggler {
  border-color: #55d1c0 !important;
}

/* Esta é a parte que realmente colore os tracinhos */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2355d1c0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Para garantir que o toggler tenha um efeito de hover agradável */
.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(85, 209, 192, 0.25) !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.secondary-bg {
  background-color: rgba(85, 209, 192, 0.25) !important;
  box-shadow: 10px 10px 20px rgb(85, 209, 192, 0.08) !important;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  color: rgb(222, 238, 236) !important;
  perspective: 1000px;
}

.secondary-bg h5 {
  color: rgb(85, 209, 192) !important;
}

.secondary-bg:hover {
  background-color: rgba(102, 107, 106, 0.1) !important;
  color: rgb(85, 209, 192) !important;
  box-shadow: none !important;
}

.spotlight-container {
  min-height: calc(100vh - 56px);
}

.spotlight {
  position: fixed; /* Alterado para fixed para cobrir toda a página */
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none; /* Isso permite que os cliques passem através do spotlight */
}

/* Classe para texto com efeito de iluminação */
.text-glow {
  transition: color 0.3s ease;
  position: relative;
}

span.highlight {
  background: #55d1c040;
  padding: 2px 4px;
  border-radius: 2px;
  box-decoration-break: clone;
  z-index: 2;
}

.title-highlight {
  color: rgb(85, 209, 192);
}

.arrow-blip {
  animation: blip 1s infinite;
}

@keyframes blip {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
