{{ define "content" }}
<div class="main">
  <h2 class="title-highlight">Blog</h2>
  <p class="text-glow">
    Últimos artigos sobre desenvolvimento backend, automação e infraestrutura.
  </p>
  <div class="row">
    {{ range $_, $post := .Posts }}
    <div class="col-md-4 mb-3">
      <div class="blog-card secondary-bg text-light">
        <div class="blog-card-body">
          <h5 class="blog-card-title">{{ $post.Title }}</h5>
          <p class="blog-card-text">{{ $post.Excerpt }}</p>
          <a href="posts/{{ $post.Slug }}" class="btn btn-tag card-button">Leia mais</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}