{{ define "content" }}
<div class="text-center">
  <img src="static/img/code.svg" alt="" width="200px" />
  <h1 class="display-3">Bem-vindo ao ByteFlow</h1>
  <p class="lead">Desenvolvimento Backend, Automação e Infraestrutura</p>
  <p class="fst-italic fw-light">
    Soluções sob medida para escalar seus processos.
  </p>
  <div class="row mt-4 p-4">
    <div class="col">
      <a href="/services" class="btn btn-primary">Conheça Nossos Serviços</a>
      <a href="/blog" class="btn btn-outline-light">Leia o Blog</a>
    </div>
  </div>
</div>
{{ end }}
