{{ define "content" }}

<div class="main">
  <h2 class="title-highlight">Serviços</h2>
  <p>
    Especializado em desenvolvimento backend, APIs, automação e infraestrutura.
  </p>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card secondary-bg text-light">
        <div class="card-body">
          <h5 class="card-title">
            Desenvolvimento de APIs, Webhooks e Backends
          </h5>
          <p class="card-text">
            Construo APIs robustas, seguras e escaláveis para conectar sistemas,
            integrar aplicações e processar dados de forma eficiente. Seja para
            expor serviços, automatizar fluxos ou interligar plataformas,
            desenvolvo soluções sob medida para atender às necessidades do seu
            negócio.
          </p>
          <ol>
            <li>
              APIs RESTful - Criadas com Go ou Python, seguindo as melhores
              práticas de arquitetura e segurança.
            </li>
            <li>
              Webhooks e Integrações – Desenvolvimento de webhooks eficientes
              para conectar sistemas e automatizar processos.
            </li>
            <li>Autenticação e Segurança – Implementação de OAuth e JWT.</li>
            <li>
              Banco de Dados – Modelagem, otimização e integração com
              PostgreSQL, MySQL, Oracle e bancos NoSQL.
            </li>
            <li>
              Escalabilidade e Performance – APIs projetadas para alto
              desempenho, utilizando caching, otimizações de queries e
              arquitetura desacoplada.
            </li>
            <li>
              Infraestrutura e Deploy – Uso de Docker, Linux e CI/CD para
              garantir estabilidade e facilidade de manutenção.
            </li>
          </ol>
          <p class="card-text">
            Se precisa de uma API bem estruturada, um backend eficiente ou
            integrações confiáveis, estou pronto para ajudar! </p>
          <a href="/contact" class="btn btn-tag card-button">Solicitar orçamento</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card secondary-bg text-light">
        <div class="card-body">
          <h5 class="card-title">Automação de Processos e Integrações</h2>
            <p class="card-text">
              Otimize suas operações com soluções inteligentes que eliminam
              tarefas repetitivas e garantem a integração perfeita entre sistemas.
              Desenvolvo automações personalizadas que conectam, transformam e
              distribuem dados, proporcionando mais agilidade, confiabilidade e
              redução de erros nos processos empresariais.
            </p>
            <ol>
              <li>
                Integração de Sistemas: Conecte aplicações, bancos de dados e
                serviços de forma transparente, garantindo que suas informações
                circulem sem barreiras.
              </li>
              <li>
                Automação de Fluxos de Trabalho: Crie processos automatizados para
                extrair, processar e distribuir dados, diminuindo o trabalho
                manual e acelerando a tomada de decisão.
              </li>
              <li>
                Implementação de Webhooks e APIs: Utilize webhooks para
                notificações em tempo real e APIs para comunicação contínua entre
                sistemas, facilitando a integração de novos serviços.
              </li>
              <li>
                Extração e Tratamento de Dados: Automatize a coleta e análise de
                dados não estruturados, convertendo-os em insights valiosos para
                seu negócio.
              </li>
              <li>
                Ferramentas Low-Code: Aproveite a flexibilidade de soluções
                low-code (como n8n) para implementar integrações rápidas e
                escaláveis, reduzindo o tempo de desenvolvimento.
              </li>
              <li>
                Painéis e relatórios de gestão com Power BI: Crie painéis
                interativos e relatórios personalizados para acompanhar o
                desempenho e tomar decisões estratégicas.
              </li>
            </ol>
            <p class="card-text">
              Transforme seus processos, ganhe eficiência operacional e mantenha
              sua empresa à frente com automações inteligentes que conectam todos
              os pontos do seu negócio!
            </p>

            <a href="/contact" class="btn btn-tag card-button">Solicitar orçamento</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card secondary-bg text-light">
        <div class="card-body">
          <h5 class="card-title">
            Análise de Dados e Modelos de Machine Learning
          </h5>
          <p class="card-text">
            Transforme dados brutos em insights valiosos e preditivos com
            técnicas avançadas de análise e aprendizado de máquina. Com
            experiência em ciência de dados, engenharia de machine learning e
            séries temporais, desenvolvo soluções para otimizar processos,
            prever tendências e impulsionar a tomada de decisão baseada em
            dados.
          </p>
          <ol>
            <li>
              Análise Exploratória de Dados (EDA): Limpeza, visualização e
              descoberta de padrões em grandes volumes de dados.
            </li>
            <li>
              Modelagem Estatística e Preditiva: Desenvolvimento de modelos de
              regressão, classificação e séries temporais para previsão e
              otimização de processos.
            </li>
            <li>
              Machine Learning & Deep Learning: Construção, treinamento e
              otimização de modelos com Scikit-Learn, PyTorch e Pandas.
            </li>
            <li>
              Automação de Pipelines de Dados: Implementação de fluxos de ETL,
              pré-processamento e inferência automatizada de modelos.
            </li>
            <li>
              Deploy e Integração de Modelos: Transforme modelos em APIs prontas
              para consumo em aplicações reais.
            </li>
            <li>
              Dashboards e Visualização de Dados: Criação de relatórios
              interativos e dashboards em Power BI para facilitar a análise e a
              tomada de decisão.
            </li>
          </ol>
          <p class="card-text">
            Se você precisa extrair mais valor dos seus dados ou implementar
            soluções de IA para otimizar seus processos, estou pronto para
            ajudar!
          </p>

          <a href="/contact" class="btn btn-tag card-button">Solicitar orçamento</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}