{{ define "content" }}
<h2>Serviços</h2>
<p>
  Especializado em desenvolvimento backend, APIs, automação e infraestrutura.
</p>

<ul class="list-group">
  <li class="list-group-item bg-dark text-light">
    <div class="row p-1 text-center">
      <p class="text-center">Desenvolvimento de APIs, Webhooks e Backends</p>
    </div>
    <div class="row">
      <div class="col text-center pb-3">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/3d-fluency/94/python.png"
          alt="python"
        />
        <img width="40" height="40" src="static\img\go.png" alt="go" />
      </div>
    </div>
  </li>
  <li class="list-group-item bg-dark text-light">
    <div class="row p-1 text-center">
      <p class="text-center">
        Automação de Processos e Integrações (Python, n8n, Power Automate)
      </p>
    </div>
    <div class="row">
      <div class="col text-center pb-3">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/3d-fluency/94/python.png"
          alt="python"
        />
        <img width="40" height="40" src="static\img\go.png" alt="go" />
      </div>
    </div>
  </li>
  <li class="list-group-item bg-dark text-light">
    <div class="row p-1 text-center">
      <p class="text-center">
        Infraestrutura e Deploys (Docker, Linux, SQL, Power BI)
      </p>
    </div>
    <div class="row">
      <div class="col text-center pb-3">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/3d-fluency/94/python.png"
          alt="python"
        />
        <img width="40" height="40" src="static\img\go.png" alt="go" />
      </div>
    </div>
  </li>
</ul>
<a href="/contact" class="btn btn-primary mt-3">Solicitar Orçamento</a>
{{ end }}
