{{ define "content" }}
<h2>Serviços</h2>
<p>
  Especializado em desenvolvimento backend, APIs, automação e infraestrutura.
</p>

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card secondary-bg text-light">
      <div class="card-body">
        <h5 class="card-title">Desenvolvimento de APIs, Webhooks e Backends</h5>
        <p class="card-text">
          Desenvolvemos soluções de automação sob medida para seus processos.
        </p>
        <p class="card-text">
          <img
            width="30"
            height="30"
            src="https://img.icons8.com/3d-fluency/94/python.png"
            alt="python"
          />
          <img width="40" height="40" src="static\img\go.png" alt="go" />
        </p>
        <a href="/contact" class="btn btn-tag card-button"
          >Solicitar orçamento</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card secondary-bg text-light">
      <div class="card-body">
        <h5 class="card-title">Automação de Processos e Integrações</h5>
        <p class="card-text">
          Desenvolvemos soluções de automação sob medida para seus processos.
        </p>
        <p class="card-text">
          <img
            width="30"
            height="30"
            src="https://img.icons8.com/3d-fluency/94/python.png"
            alt="python"
          />
          <img width="40" height="40" src="static\img\go.png" alt="go" />
        </p>
        <a href="/contact" class="btn btn-tag card-button"
          >Solicitar orçamento</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card secondary-bg text-light">
      <div class="card-body">
        <h5 class="card-title">
          Infraestrutura e Deploys (Docker, Linux, SQL, Power BI)
        </h5>
        <p class="card-text">
          Desenvolvemos soluções de automação sob medida para seus processos.
        </p>
        <p class="card-text">
          <img
            width="30"
            height="30"
            src="https://img.icons8.com/3d-fluency/94/python.png"
            alt="python"
          />
          <img width="40" height="40" src="static\img\go.png" alt="go" />
        </p>
        <a href="/contact" class="btn btn-tag card-button"
          >Solicitar orçamento</a
        >
      </div>
    </div>
  </div>
</div>

{{ end }}
